* {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

:root {
    --font: 'Montserrat', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --bg: #FDFDF8;
    --main-color: #1B2B54;
    --sec-color: #EEB839;
    --main-font-color: #EEB839;
    --sec-font-color: #FFFFFF;
    --thir-font-color: #2F9428;
}

main{
    width:90%;
    margin:0 5% 2.5% 2.5%;
}

h1, h2, p{
    color:var(--sec-font-color);
    font-family: var(--font);
}

h1{
    margin: 10% auto 5% auto;
    width:100%;
    text-align: center;
    font-size:3em;
}

h2{
    margin:5% 0 1% 2%;
}

p{
    margin:0 0 0 2%;
}